<div class="container">
  <div class="row">
    <div class="col-5">
      <!-- Button trigger modal -->
      <div class="button-block">
        <button type="button" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#exampleModal">Edit search<i class="fas fa-pencil-alt"></i>
        <%= link_to crawl_path(crawl: { start_location: @crawl.start_location, end_location: @crawl.end_location, pub_number: @crawl.pub_number}), { :class => "no-underline"} , :method => "post" do %>
          </button><button type="button" class="btn btn-primary btn btn-generate">Re-generate <i class="fas fa-redo-alt"></i></button>
        <% end %>
      </div>
            <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit search</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for @newcrawl do |f| %>
                <%= f.input :start_location %>
                <%= f.input :end_location %>
                <%= f.input :pub_number %>
                <%= f.button :submit, "Update Crawl", class: "btn btn-primary modal-btn"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <% if @key_waypoints_pubs == [nil] %>
        <h1 class="warning"><%= "There are not enough pubs between '" + @crawl.start_location + "' and '" + @crawl.end_location + "'. Try to look for less pubs." %></h1>
      <% elsif @key_waypoints_pubs.length == 0 %>
        <h1 class="warning"><%= "No pub have been found!" %></h1>
      <% elsif @key_waypoints_pubs.length < @crawl.pub_number && @key_waypoints_pubs.length > 0 %>
        <h1 class="warning"><%= "Only " + @key_waypoints_pubs.length.to_s + " pubs have been found!" %></h1>
        <% @key_waypoints_pubs.each_with_index do |marker, index| %>
          <div class="card-product">
            <% if marker.photos == [] %>
              <p>no photo found</p>
            <% else %>
              <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%=marker.photos.first.photo_reference%>&key=<%=ENV['GOOGLE_PLACES_API_KEY']%>">
            <% end %>
            <div class="card-product-infos">
              <p> <strong> <%= marker.name %> </strong> </p>
              <p> <%= marker.vicinity %> </p>
              <% if marker.opening_hours == nil %>
                <p>No info</p>
              <% elsif marker.opening_hours["open_now"] == false || marker.opening_hours["Open_now"] == false%>
                <p>Closed</p>
              <% else %>
                <p>Open</p>
              <% end %>
              <% marker.rating.round.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="avatar-card-number"> <%= index +1 %></div>
          </div>
        <% end %>
      <% else %>
        <% @key_waypoints_pubs.each_with_index do |marker, index| %>
          <div class="card-product">
            <% if marker.photos == [] %>
              <p>no photo found</p>
            <% else %>
              <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%=marker.photos.first.photo_reference%>&key=<%=ENV['GOOGLE_PLACES_API_KEY']%>">
            <% end %>
            <div class="card-product-infos">
              <p> <strong> <%= marker.name %> </strong> </p>
              <p> <%= marker.vicinity %> </p>
              <% if marker.opening_hours == nil %>
                <p>No info</p>
              <% elsif marker.opening_hours["open_now"] == false || marker.opening_hours["Open_now"] == false%>
                <p>Closed</p>
              <% else %>
                <p>Open</p>
              <% end %>
              <% marker.rating.round.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="avatar-card-number"> <%= index +1 %></div>
          </div>
        <% end %>
      <% end %>
      <%= link_to save_for_later_crawl_path(crawl: @crawl,), { :class => "no-underline"}, method: :patch  do %>
        <button type="button" class="btn btn-primary btn confirm-btn">Save <i class="fas fa-check-square"></i>
        </button>
      <% end %>
    </div>
    <div class="col-7">
      <!-- map -->
      <div class="map-container">
        <div
          id="map"
          style="width: 800px;
          height: 500px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-response="<%= @response %>"
          data-pubmarkers="<%= @pub_markers.to_json %>"
          data-image-url="<%= @image_url.to_json %>"
          data-route="<%= @new_line_coords.to_json %>"
        >
        </div>
      </div>
    </div>
  </div>
</div>



