<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for @crawl do |f| %>
        <%= f.input :start_location %>
        <%= f.input :end_location %>
        <%= f.input :pub_number %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
      <h1><%= @crawl.start_location %></h1>
      <h1><%= @crawl.end_location %></h1>
      <h1><%= @crawl.pub_number %></h1>

      <ul>
        <% @key_waypoints_pubs.each do |marker| %>
          <li>
            <p><%= marker.name %> - <%= marker.rating %></p>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-6">
      <div
        id="map"
        style="width: 800px;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        data-response="<%= @response %>"
        data-pubmarkers="<%= @pub_markers.to_json %>"
        data-image-url="<%= @image_url.to_json %>"
      >
      </div>
    </div>
  </div>
</div>








