

<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
                    <!-- Button trigger modal -->
          <div class="update-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>
          </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                     <%= simple_form_for @newcrawl do |f| %>
                      <%= f.input :start_location %>
                      <%= f.input :end_location %>
                      <%= f.input :pub_number %>
                      <%= f.button :submit, "Update Crawl", class: "btn btn-primary"%>
                    <% end %>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
                  <% @key_waypoints_pubs.each do |marker| %>
            <div class="card-product">
              <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=<%=marker.photos.first.photo_reference%>&key=<%=ENV['GOOGLE_PLACES_API_KEY']%>">
              <div class="card-product-infos">
                <p><%= marker.name %> - <%= marker.rating %></p>
                <p> <%= marker.vicinity %> </p>
                <p> <%= marker.opening_hours %></p>
                <p> <%= marker.reviews %></p>
              </div>
            </div>
          <% end %>
       </div>
        <!-- <h1><%= @crawl.start_location %></h1>
        <h1><%= @crawl.end_location %></h1>
        <h1><%= @crawl.pub_number %></h1>

        <ul>
          <% @key_waypoints_pubs.each do |marker| %>
            <li>
              <p><%= marker.name %> - <%= marker.rating %></p>
            </li>

          <% end %>
          <h1><%= @crawl.start_location %></h1>
          <h1><%= @crawl.end_location %></h1>
          <h1><%= @crawl.pub_number %></h1>

          <% if @key_waypoints_pubs == [nil] %>
          <h1><%= "There are not enough pubs between '" + @crawl.start_location + "' and '" + @crawl.end_location + "'. Try to look for less pubs." %></h1>
        <% elsif @key_waypoints_pubs.include?(nil) %>
          <% @key_waypoints_pubs.delete(nil) %>
          <h1><%= "Only " + @key_waypoints_pubs.length + " pubs have been found!" %></h1>
          <ul>
            <% @key_waypoints_pubs.uniq.each do |marker| %>
              <li>
                <p><%= marker.name %> - <%= marker.rating %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <ul>
            <% @key_waypoints_pubs.each do |marker| %>
              <li>
                <p><%= marker.name %> - <%= marker.rating %></p>
              </li>
            <% end %>
          </ul>
        <% end %> -->


      </div>

      <div class="col-6">
        <div
          id="map"
          style="width: 800px;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-response="<%= @response %>"
          data-pubmarkers="<%= @pub_markers.to_json %>"
          data-image-url="<%= @image_url.to_json %>"
        >
        </div>
      </div>
    </div>
</div>

