<div class="banner" style="background-image: url('<%= image_url 'home777.png' %>')">
  <div class="form-container">
    <div><h1>Discover new ways to get drunk</h1></div>
    <div><p>Get started below to plan your route:</p></div>
    <%= simple_form_for @crawl, html: { class: "form-inline" } do |f| %>
      <%= f.input :start_location, label: false, input_html: { class: "box" }, placeholder: "From" %>
      <%= f.input :end_location, label: false, input_html: { class: "box" } , placeholder: "To"%>
      <%= f.input :pub_number, collection: (1..12).to_a, selected: 1, label: false, input_html: { class: "box-number" } , placeholder: "Pubs" %>
      <%= f.button :submit, "GO !", class: "btn btn-primary submit" %>
    <% end %>
  </div>
</div>
<div id="container" class="d-none loader">
  <iframe src="https://giphy.com/embed/AiB7XIPP6qHe0" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
