<div class= "banner">
  <h1>Discover new places to get drunk</h1>
  <p>Get started below to start your route:</p>
    <div class= form>
      <%= simple_form_for @ben do |f| %>
        <%= f.input :start_location %>
        <%= f.input :end_location %>
        <%= f.input :pub_number %>
        <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
    </div>
</div>
